<router-outlet></router-outlet>
<div id="screen">
  <div id="duck">
    <img class="duck" src="/assets/imgs/duck.png" />
    <div class="down">⯆</div>
    <img class="expand" src="/assets/imgs/expand-left.png" />
  </div>
  <div id="textbox">
    <header>
      <button>
        <img src="/assets/imgs/letter.png" />
      </button>
      <button>
        <img src="/assets/imgs/happy.png" />
        <i>⯆</i>
      </button>
      <button>
        <img src="/assets/imgs/voice-clip.png" />
        <span>Voice clip</span>
      </button>
      <button>
        <img src="/assets/imgs/wink.png" />
        <i>⯆</i>
      </button>
      <button>
        <img src="/assets/imgs/mountain.png" />
        <i>⯆</i>
      </button>
      <button>
        <img src="/assets/imgs/gift.png" />
        <i>⯆</i>
      </button>
      <button (click)="wizz()">
        <img src="/assets/imgs/wizz.png" />
      </button>
    </header>
    <textarea></textarea>
    <footer></footer>
  </div>
</div>
<wizz #wizzComponent></wizz>