html{
    height: 100%;

    > body{
        margin: 0;
        height: 100%;
        background: #D7E4F5 url("/assets/imgs/background.png") bottom 0px right no-repeat;
    }
}
// Make this demo : https://codepen.io/manz/pen/XWgWyYz